<%- include('./partial/header.ejs') %>

<body>


<%- include('./partial/nav.ejs') %>

  <section class="about">
    <div class="about-container">
      <img src="profile_pic.jpeg" alt="Ankit K C" class="profile-img" />
      <div class="about-text">
        <h1>About Me</h1>
        <p>
          I am <strong>Ankit KC</strong>, a software engineer, researcher, and lifelong book reader.  
          My work focuses on web application. blockchain, distributed systems, and  applications that create real-world impact.  
        </p>
        <p>
          I have published and presented research on blockchain based certificate verification, 
          disaster response donation management and others. Beyond research, I enjoy building Web application, exploring 
          system architectures, and sharing knowledge as a mentor.  
        </p>
        <p>
          Outside of coding and research, I love reading books, discussing new ideas, 
          and learning from every experience.
        </p>
        <a target="_blank" rel="noopener noreferrer" href="download-resume" class="btn">Download CV</a>
      </div>
    </div>
  </section>


<%- include('./partial/footer.ejs') %>

</body>