<%- include('./partial/header.ejs') %>

  <body>


    <%- include('./partial/nav.ejs') %>

      <section class="projects">
        <h1>My Projects</h1>
        <p class="subtitle">A collection of my research and development work.</p>

        <div class="project-grid">

          <!-- Project Card 1 -->
          <div class="project-card">
            <h2>We Talk</h2>
            <p>
              Designed and developed a real-time web chat application with instant messaging capability, group chat
              functionality and user authentication to enable secure and interactive multi-user conversations.
              Integrated Socket.IO and REST APIs to support reliable real-time connectivity and efficient message
              exchange.

            </p>
            <div class="tags">
              <span>Node.js</span><span>Express.js</span><span>Socket.IO</span><span>JavaScript</span><span>Fast
                API</span>
            </div>
            <div class="links">
              <a target="_blank" rel="noopener noreferrer" href="https://we-talk-5l3l.onrender.com/login"
                class="btn-sm">Go Live</a>
            </div>
          </div>

          <!-- Project Card 2 -->
          <div class="project-card">
            <h2>ANAI - RAG-Based Personal Assistant Chat Application </h2>
            <p>
              Designed and integrated a RAG-based personal assistant chat application into a portfolio website,
              demonstrating applied skills in AI, retrieval systems and web integration. Also,implemented semantic
              retrieval with MMR search and history-aware retrieval to generate context-aware responses

            </p>
            <div class="tags">
              <span>Python</span><span>Streamlit</span><span>LangChain</span><span>Groq(Llama 3.3
                70B)</span><span>Pinecone</span><span>Cloudflare AI embedding</span>
            </div>
            <div class="links">
              <a target="_blank" rel="noopener noreferrer" href="https://m5thmmx6jbrrmb9ytxhqhm.streamlit.app/"
                class="btn-sm">Activate</a>
            </div>
          </div>


      </section>

      <%- include('./partial/footer.ejs') %>

  </body>