<%- include('./partial/header.ejs') %>

<body>


<%- include('./partial/nav.ejs') %>

 <section class="research">
    <h1>Research Publications</h1>
    <p class="subtitle">My contributions to blockchain, security, and distributed systems.</p>

    <div class="papers">
      <!-- Paper 1 -->
      <div class="paper">
        <h2>Minimizing Certificate Verification Time in Blockchain Technology</h2>
        <p class="authors">Ankit K C, Rhishav Pandey, Deepesh Bhandari, Birendra Khadka, Rojalina Priyadarshini</p>
        <p class="venue">Presented at <em>2024 IEEE International Conference on Information Technology, Electronics and Intelligent Communication Systems (ICITEICS)</em>, 2024</p>
         <div class="paper-links">
      <button class="btn-sm toggle-btn" data-target="abstract-1">Read Abstract</button>
      <button class="btn-sm toggle-btn" data-target="doi-1">DOI</button>
      <button class="btn-sm toggle-btn" data-target="bibtex-1">BibTeX</button>
      <a target="_blank" rel="noopener noreferrer" href="https://ieeexplore.ieee.org/document/10625640" class="btn-sm">PDF</a>
    </div>
      <!-- Hidden Sections -->
      <div id="abstract-1" class="paper-content hidden">
        <p>
          The growing use of digital certificates across various sectors demands a more reliable and efficient method for verifying their authenticity. Current verification processes are hampered by manual verification, delays, human error, and insufficient security, leaving room for fraud, especially in critical areas like education. This paper proposes a novel blockchain-based certificate authentication system that offers enhanced security and transparency. The proposed system makes use of a private blockchain to validate the certificates and a public blockchain to store the certificates without losing their integrity. The designed system is equipped with an effective and fast searching mechanism while validating the certificates. The proposed system is tested in a Sepolia Testnet environment run on Ethereum. An analysis has been carried out on the cost incurred for the done transactions on the proposed architecture. The experiments are done for both cases using search optimization methodologies and without using the search optimizations. It can be observed from the results that the search optimization techniques are highly effective for searching the false certificates.
        </p>
      </div>
      <div id="doi-1" class="paper-content hidden">
        <p>DOI: 10.1109/ICITEICS.2024.10625640</p>
      </div>
      <div id="bibtex-1" class="paper-content hidden">
  <pre>
@INPROCEEDINGS{10625640,
  author={C, Ankit K and Pandey, Rhishav and Bhandari, Deepesh and Khadka, Birendra and Priyadarshini, Rojalina},
  booktitle={2024 IEEE International Conference on Information Technology, Electronics and Intelligent Communication Systems (ICITEICS)}, 
  title={Minimizing Certificate Verification Time in Blockchain Technology}, 
  year={2024},
  volume={},
  number={},
  pages={1-6},
  keywords={Smart contracts;Authentication;Public key;Blockchains;Cryptocurrency;Security;Reliability;certificate;Blockchain;de-centralized;authenticate},
  doi={10.1109/ICITEICS61368.2024.10625640}}
  </pre>
    </div>
    </div>

    
      <!-- Paper 2 -->
      <div class="paper">
        <h2>Blockchain Based Donation Management in Disaster Response</h2>
        <p class="authors">Ankit K C</p>
        <p class="venue">Published in<em>Journal of Innovation Information
 Technology and Application (JINITA)</em>, 2024</p>
         <div class="paper-links">
      <button class="btn-sm toggle-btn" data-target="abstract-2">Read Abstract</button>
      <button class="btn-sm toggle-btn" data-target="doi-2">DOI</button>
      <button class="btn-sm toggle-btn" data-target="bibtex-2">BibTeX</button>
      <a target="_blank" rel="noopener noreferrer" href="https://ejournal.pnc.ac.id/index.php/jinita/article/view/2257/764" class="btn-sm">PDF</a>
    </div>
      <!-- Hidden Sections -->
      <div id="abstract-2" class="paper-content hidden">
        <p>
          Both natural and man-made disaster leave thousands of people in vulnerable and in need for essential aid. While individuals generously donate resources, traditional donation management systems suffer from limitations. Centralized control, opaque transactions, and potential corruption often hinder aid delivery and leave victims in despair. This paper proposes a novel Ethereum blockchain-based system for transparent and secure disaster donation management. Utilizing smart contracts, the system ensures traceability, accountability, and immutability of donations, empowering donors and fostering trust. This paper presents the system's architecture, detailing its components and interactions through sequence diagrams and algorithms. Additionally, successful testing on the Sepolia Ethereum testnet validates its functionality. To assess its effectiveness, a cost and security analysis is conducted. This blockchain-based framework offers a promising solution for transparent and efficient disaster response, potentially revolutionizing donation management. Further research, particularly on donation allocation optimization within the system holds immense potential for future development.
        </p>
      </div>
      <div id="doi-2" class="paper-content hidden">
        <p>DOI:  https://doi.org/10.35970/jinita.v6i1.2257</p>
      </div>
      <div id="bibtex-2" class="paper-content hidden">
  <pre>
@article{ankit2024blockchain,
  title={Blockchain based donation management in disaster response},
  author={Ankit, C},
  journal={Journal of Innovation Information Technology and Application (JINITA)},
  volume={6},
  pages={45--59},
  year={2024}
}
  </pre>
      </div>
    </div>


      <!-- Paper 3 -->
      <div class="paper">
        <h2>A Faster, Integrated, and Trusted Certificate Authentication and Issuer Validation System Based on Blockchain</h2>
        <p class="authors">Rojalina Priyadarshini, Rhishav Pandey,<strong>Ankit K C</strong>, Deepesh Bhandari, Birendra Khadka, Rabindra Kumar Barik</p>
        <p class="venue">Published in<em>IEEE Access </em>,Volume 13 , 2025</p>
         <div class="paper-links">
      <button class="btn-sm toggle-btn" data-target="abstract-3">Read Abstract</button>
      <button class="btn-sm toggle-btn" data-target="doi-3">DOI</button>
      <button class="btn-sm toggle-btn" data-target="bibtex-3">BibTeX</button>
      <a target="_blank" rel="noopener noreferrer" href="https://ieeexplore.ieee.org/document/10872957?denied=" class="btn-sm">PDF</a>
    </div>
      <!-- Hidden Sections -->
      <div id="abstract-3" class="paper-content hidden">
        <p>
          Verifying the legitimacy of original documents such as educational degree certificates is crucial. If these are found to be fraudulent, it can cause significant disruptions in the hiring process, resulting in substantial productivity losses. The researchers suggested several proposals to preserve these certificates. However, the challenge is still to have an integrated, tamper-proof and low-cost solution where the certificate issuer and the certificate itself are validated in a single platform. This paper proposes an integrated solution that uses a decentralized blockchain-based certificate verification and issuer validation system. In addition to this, it will protect the certificates from being tampered with. To search faster, hash function mapping has been employed. The proposed solution is experimentally validated by creating a blockchain network using Ethereum where each peer node represents an entity of a certificate verification system such as a validator, certificate issuer, certificate holder and the end-user of the client. The performance of the designed solution is measured by the execution and transaction cost in terms of gas consumption. A comparative analysis has been performed on similar types of tasks reported in the existing work performed on the same platform. It has been observed that the cost incurred for adding a certificate is minimal for the proposed approach. Furthermore, the searching time for the certificates is minimized by using a hash-based searching methodology. The results show that the search time has drastically gone down when certificates are not available.
        </p>
      </div>
      <div id="doi-3" class="paper-content hidden">
        <p>DOI: 10.1109/ACCESS.2025.3539180</p>
      </div>
      <div id="bibtex-3" class="paper-content hidden">
  <pre>
@ARTICLE{10872957,
  author={Priyadarshini, Rojalina and Pandey, Rhishav and Ankit, K. C. and Bhandari, Deepesh and Khadka, Birendra and Kumar Barik, Rabindra and Jyoti Saikia, Manob},
  journal={IEEE Access}, 
  title={A Faster, Integrated, and Trusted Certificate Authentication and Issuer Validation System Based on Blockchain}, 
  year={2025},
  volume={13},
  number={},
  pages={27037-27049},
  keywords={Blockchains;Security;Authentication;Smart contracts;Reliability;Costs;Peer-to-peer computing;Distributed ledger;Optimization;Fabrics;Blockchain;certificate verification;authentication;Ethereum;search optimization},
  doi={10.1109/ACCESS.2025.3539180}}

  </pre>
      </div>
    </div>


          <!-- Paper 4 -->
      <div class="paper">
        <h2>Detection of Fake Physical Certificates using a Blockchain-Based Certificate Verification and Issuer Validation System</h2>
        <p class="authors"><strong> Ankit K C</strong> , Deepesh Bhandari, Rojalina Priyadarshini, Pramod Kumar Meher</p>
        <p class="venue">Presented at<em>2024 IEEE International Conference on Blockchain and Distributed Systems Security (ICBDS)</em>, 2024</p>
         <div class="paper-links">
      <button class="btn-sm toggle-btn" data-target="abstract-4">Read Abstract</button>
      <button class="btn-sm toggle-btn" data-target="doi-4">DOI</button>
      <button class="btn-sm toggle-btn" data-target="bibtex-4">BibTeX</button>
      <a target="_blank" rel="noopener noreferrer" href="https://ieeexplore.ieee.org/document/10837263" class="btn-sm">PDF</a>
    </div>
      <!-- Hidden Sections -->
      <div id="abstract-4" class="paper-content hidden">
        <p>
          Fraudulent educational degree certificates can have a catastrophic impact on employers. This can also cause serious problems for educational institutions during admission into higher-degree programmes. Although some research has been done to validate the authenticity of certificates, the challenge persists in having a tamper-proof and low-cost solution where the certificate issuer and the certificates are validated in a single integrated platform. This paper proposes an integrated blockchain-based decentralized model for certificate verification and issuer validation. Along with this, it will protect the certificates from being tampered with. The proposed solution is tested by creating an Ethereum-like transparent blockchain. The performance of the proposed solution is measured by the execution and transaction cost in terms of Gas consumption and a comparison of the proposed approach against existing methods is provided. It is observed that the cost of adding a certificate is the lowest in the case of the proposed system.
        </p>
      </div>
      <div id="doi-4" class="paper-content hidden">
        <p>DOI: 10.1109/ICBDS61829.2024.10837263</p>
      </div>
      <div id="bibtex-4" class="paper-content hidden">
  <pre>
@INPROCEEDINGS{10837263,
  author={C, Ankit K and Bhandari, Deepesh and Priyadarshini, Rojalina and Meher, Pramod Kumar},
  booktitle={2024 IEEE International Conference on Blockchain and Distributed Systems Security (ICBDS)}, 
  title={Detection of Fake Physical Certificates using a Blockchain-Based Certificate Verification and Issuer Validation System}, 
  year={2024},
  volume={},
  number={},
  pages={1-6},
  keywords={Smart contracts;Ecosystems;Blockchains;Security;Cost benefit analysis;Information systems;Authentication;Certificate verification;Certificate validation;Blockchain},
  doi={10.1109/ICBDS61829.2024.10837263}}

  </pre>
      </div>
    </div>


          <!-- Paper 5 -->
      <div class="paper">
        <h2>Raising Good Governance through Digital Payment Systems: Insights from Nepal and India's UPI</h2>
        <p class="authors">Nurjang KC<strong> Ankit K C</strong> </p>
        <p class="venue">Published in <em>Butwal Campus Journal
</em>, 2024</p>
         <div class="paper-links">
      <button class="btn-sm toggle-btn" data-target="abstract-5">Read Abstract</button>
      <button class="btn-sm toggle-btn" data-target="doi-5">DOI</button>
      <button class="btn-sm toggle-btn" data-target="bibtex-5">BibTeX</button>
      <a target="_blank" rel="noopener noreferrer" href="https://www.nepjol.info/index.php/bcj/article/view/73169/55946" class="btn-sm">PDF</a>
    </div>
      <!-- Hidden Sections -->
      <div id="abstract-5" class="paper-content hidden">
        <p>
          In  the  digital  age,  integrating  technology  into  governance  is  essential  for  improving transparency, accountability, and efficiency. Digital payment systems have emerged as a key tool, enabling secure and traceable financial transactions while reducing reliance on  cash.  Nepal,  with  platforms  like  ConnectIPS  and  mobile  wallets,  is  witnessing  a rapid  shift  in  how  financial  transactions  are  conducted,  even  in  its  most  remote  areas. Meanwhile, India’s Unified Payments Interface (UPI) has become a global example of how  digital  payments  can  promote  financial  inclusion,  streamline  public  services,  and reduce  corruption.  This  study  uses  a  comparative  case  study  approach  to  examine  the role of digital payments in enhancing good governance in Nepal. It draws insights from India’s UPI to analyze the potential benefits and challenges of adopting similar systems in  Nepal.  Challenges  such  as  the  digital  divide,  low  digital  literacy,  and  cybersecurity risks  remain  significant  barriers.  By  addressing  these  obstacles,  Nepal  can  utilize  the transformative  power  of  digital  payments  to  create  a  more  transparent  and  inclusive governance  framework.  This  research  highlights  key  findings  and  provides  actionable recommendations for policymakers to maximize the impact of digital payment systems on governance.
        </p>
      </div>
      <div id="doi-5" class="paper-content hidden">
        <p>DOI: https://doi.org/10.3126/bcj.v7i2.73169</p>
      </div>
      <div id="bibtex-5" class="paper-content hidden">
  <pre>
@article{nurjang2024raising,
  title={Raising Good Governance through Digital Payment Systems: Insights from Nepal and India's UPI},
  author={Nurjang, KC and Ankit, KC},
  journal={Butwal Campus Journal},
  volume={7},
  number={2},
  pages={1--14},
  year={2024}
}
  </pre>
      </div>
    </div>


          <!-- Paper 6 -->
      <div class="paper">
        <h2>A Cost-Effective Dedicated Cooperative Blockchain
 for Verifying Certificate Issuers and Certificates</h2>
        <p class="authors"><strong> Ankit K C</strong>, Deepesh Bhandari, Rojalina Priyadarshini, Pramod Kumar Meher </p>
        <p class="venue">In Review </p>
         <div class="paper-links">
      <button class="btn-sm toggle-btn" data-target="abstract-6">Read Abstract</button>
      <button class="btn-sm toggle-btn" data-target="doi-6">Preprint</button>

    </div>
      <!-- Hidden Sections -->
      <div id="abstract-6" class="paper-content hidden">
        <p>
          Certificate fraud is a critical issue in educational and professional sectors, often resulting in the hiring of unqualified individuals and compromising organizational efficiency. While blockchain-based solutions for certificate management have been proposed, they often encounter challenges such as limited scalability, high transaction costs, and integration difficulties with existing institutional systems. This paper introduces a scalable cooperative blockchain framework designed for secure and verifiable certificate storage. Unlike traditional public or consortium blockchains, the proposed framework utilizes decentralized governance with equal institutional participation and employs dynamically adjustable block sizes to optimize both storage and performance. Certificates are stored off-chain,
 with only their cryptographic hashes and student id maintained on the blockchain, ensuring immutability and authenticity. By integrating with existing databases, the system minimizes storage overhead and transaction fees. The implementation of the proposed framework is done, and a comparison with Ethereum and Hyperledger Fabric demonstrates its efficiency, particularly in reducing storage requirements. Simulations demonstrate the framework’s capacity to manage large-scale, dynamic certificate issuance efficiently, making it particularly suitable for
 academic institutions. Additionally, the framework has broader applications for verifying professional certifications, securing public records, and authenticating employment credentials. These simulations confirm the robustness of the cooperative blockchain framework and its potential to significantly reduce certificate fraud across multiple sectors.</p>
      </div>
      <div id="doi-6" class="paper-content hidden">
        <p>Not available. <a href="/contact"> Contact </a>  or mail : <a href="mailto:ankcproject0@gmail.com"> ankcproject0@gmail.com</a> </p>
      </div>
      
    </div>


    <!--Paper -7-->

      <div class="paper">
        <h2>The Magic of Love</h2>
        <p class="authors"><strong> Ankit K C</strong> </p>
        <p class="venue">In Beta Review </p>
         <div class="paper-links">
      <a target="_blank" rel="noopener noreferrer" href="https://editor.reedsy.com/s/2uchXyL/c/aKxQ1wENQp7ZKg7j/preface" class="btn-sm">Read Preface</a>
      <button class="btn-sm toggle-btn" data-target="doi-7">Request Review</button>

    </div>
      <!-- Hidden Sections -->
      
      <div id="doi-7" class="paper-content hidden">
        <p><a href="/contact"> Contact </a>  or mail : <a href="mailto:ankcproject0@gmail.com"> ankcproject0@gmail.com</a> for doing review. </p>
      </div>
      
    </div>


    </div>
  </section>


<%- include('./partial/footer.ejs') %>

</body>