  <footer>
    <p>© 2025 Ankit K C | On Construction : ANAI </p>
    <div class="socials">
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ankitkc1/">LinkedIn</a> | 
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/ankitkc1">GitHub</a> | 
      <a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=_aMS88kAAAAJ&hl=en">Google Scholar</a>
    </div>
  </footer>